
body {
	margin:0;
	padding:0;
  background-image: url("backgroundphotoo.jpg");
  background-size:cover;
}
.login-box{
	width:280px;
	position:absulate;
	top:50%;
	left:50%;
	transform:translate(190%,-10%);
	color:white;
}
.login-box{
	float:left;
	font-size:20px;
	border-bottom:6px solid;
	margin-bottom:50px;
	padding:13px 0;
	
}
.textbox{
width:100%;
overflow:hidden;
font-size:30px;
padding:8px 0;
margin:8px 0;
	
}